<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>471413300164-ftfgs6uhi705lrummg9epqtn8bbss50s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.471413300164-ftfgs6uhi705lrummg9epqtn8bbss50s</string>
	<key>API_KEY</key>
	<string>AIzaSyACgib_fQoIRttjTDCSXzl2JGDCsAc9Eyk</string>
	<key>GCM_SENDER_ID</key>
	<string>471413300164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pawanlearning.MindChatr</string>
	<key>PROJECT_ID</key>
	<string>mindchatr</string>
	<key>STORAGE_BUCKET</key>
	<string>mindchatr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:471413300164:ios:156706328b82cf39972291</string>
</dict>
</plist>